body{
    margin: 40px;
    
}

.jd2{
    color: blueviolet;
}
.ar2{
    color: rgb(243, 20, 20);
    background-color: bisque;
}

#jd3{
    color: rgb(39, 255, 20);
}

#ar3{
    color:rgb(5, 92, 63);
}